<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tectum-Home Page</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
   <link rel="stylesheet" href="../../static/css/tectum.css">
</head>
<body>
    <div class="LoginPage">

        <div class="container logincontainer">
            
            <div class="row">
                <h2 class="emaillogin">Login With Email </h2>
                <form method="post" action="#" class="LoginForm">
                    <div class="Email">
                        <input id="email" name="owner_email" type="text" placeholder="Email">
                    </div>


                    <div class="Password">
                        <input id="password" name="owner_password" type="password" placeholder="Password">
                    </div>

                    <div>
{#                        <input type="submit" class="btn loginbtn" value="Login">&#160;</input>#}
                        <button class="btn loginbtn" type="submit">Login</button>
                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>

                    <div>
                        <span class="psw"><a href="#"> Forgot Password ?</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
